<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Workmanager merges these for optional foreground workers. Hublee
         only runs a silent hourly widget refresh, so strip them to avoid a
         Play Console foreground-service declaration. -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:node="remove"/>
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
        tools:node="remove"/>
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SHORT_SERVICE"
        tools:node="remove"/>
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove"/>
    <application
        android:label="Hublee"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Widget taps use an explicit MainActivity intent. Disable
                 Flutter's default URI routing so hublee:// is not treated
                 as a go_router location. -->
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="false" />
        </activity>
        <receiver
            android:name=".widgets.AyahWidgetProvider"
            android:exported="true"
            android:label="@string/widget_ayah_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_ayah"/>
        </receiver>
        <receiver
            android:name=".widgets.HadithWidgetProvider"
            android:exported="true"
            android:label="@string/widget_hadith_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_hadith"/>
        </receiver>
        <receiver
            android:name=".widgets.QuranWordWidgetProvider"
            android:exported="true"
            android:label="@string/widget_qword_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_qword"/>
        </receiver>
        <receiver
            android:name=".widgets.ArabicWordWidgetProvider"
            android:exported="true"
            android:label="@string/widget_aword_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_aword"/>
        </receiver>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            tools:node="remove"/>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
